# Mainnet (default)
VITE_STELLAR_NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"
VITE_STELLAR_RPC_URL=https://soroban-rpc.mainnet.stellar.gateway.fm
VITE_STELLAR_CONTRACT_ID=CBBAMKDRCAXZOLG4MWWSUN5VQVSOHDEVOBR2XYJIXKUUZT32JC5JMJ55
VITE_STELLAR_NATIVE_TOKEN=CAS3J7GYLGXMF6TDJBBYYSE3HQ6BBSMLNUQ34T6TZMYMW2EVH34XOWMA

# Testnet alternative:
# VITE_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
# VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
# VITE_STELLAR_CONTRACT_ID=CBDKF3AXX3WA4N4GKCLGACG6L7JFTG7JJWQNXEASD63SCRLF2J7KRIUA
# VITE_STELLAR_NATIVE_TOKEN=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
